<div class="panel-body">
    <form class="navbar-form navbar-left">
        <button type="submit" class="btn btn-default" ng-click="toggleAdressBook()"> Display/Hide Address Book</button>
        <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
        <button type="submit" class="btn btn-default" ng-click="searchAdressbookList()">search by name</button>
        <button type="submit" class="btn btn-default" ng-click="newItem()">add new address</button>
    </form>
</div>
