<h3>New Address</h3>
<div class="form-group">
    <div class="form-group">
        <input type="text" class="form-control " placeholder="Full Name" ng-model="newAddress.name" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="tel" ng-model="newAddress.tel" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="email" ng-model="newAddress.email" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="address" ng-model="newAddress.address" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="zipcode" ng-model="newAddress.zipcode" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="state" ng-model="newAddress.state" />
    </div>
    <button class="btn btn-default " ng-click="addNewAddress()">Submit</button>
</div>
