<div ng-show="newAdressbookList">
    <h3>New Address</h3>
    <form>
        <input type="text" class="form-control col-md-6" placeholder="Full Name" ng-model="newAddress.name" />
        <input type="text" class="form-control col-md-6" placeholder="tel" ng-model="newAddress.tel" />
        <input type="text" class="form-control col-md-6" placeholder="email" ng-model="newAddress.email" />
        <input type="text" class="form-control col-md-6" placeholder="address" ng-model="newAddress.address" />
        <input type="text" class="form-control col-md-6" placeholder="zipcode" ng-model="newAddress.zipcode" />
        <input type="text" class="form-control col-md-6" placeholder="state" ng-model="newAddress.state" />
        <button class="btn btn-default " ng-click="addNewAddress()">Submit</button>
    </form>
</div>
