<h3>Edit Address</h3>
<div class="form-group">
    <div class="form-group">
        <input type="text" class="form-control " placeholder="firsfName" ng-model="editedAddress.firsfName" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="lastName" ng-model="editedAddress.lastName" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="tel" ng-model="editedAddress.tel" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="email" ng-model="editedAddress.email" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="address" ng-model="editedAddress.address" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="zipcode" ng-model="editedAddress.zipcode" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="state" ng-model="editedAddress.state" />
    </div>
    <button class="btn btn-default " ng-click="editAddressBook()">Change</button>
</div>