<!DOCTYPE html>
<html>
<head>
	<title>Angular4</title>
	<link rel="stylesheet" type="text/css" href="./lib/bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./styles/main.css">

</head>
<body ng-app="AddressBook">
	<h2>Address Book</h2>
	<div ng-controller="AdressbookCtrl">
		<div class="panel panel-default ">
			<div class="panel-body ">
				<form class="navbar-form navbar-left">
				    <button type="submit" class="btn btn-default" ng-click="toggleAdressBook()"> Display/Hide Address Book</button>
				    <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
			        <button type="submit" class="btn btn-default" ng-click="searchAB()">search by name</button>
	     		</form>
     		</div>
			<div class="panel-footer" ng-repeat="item in adressbookItems" ng-show="showAdressbookList">
			  	{{item.name}} : {{item.tel}} - {{item.email}}
			</div>
			<div class="panel-footer" ng-repeat="item in adressbookItems | filter:{name: searchText}" ng-show="showsearchABList">
			  	{{item.name}} : {{item.tel}} - {{item.email}}
			</div>
 		</div>
	</div>



	<script type="text/javascript" src="./lib/bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="./lib/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="./lib/bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="./javascripts/main.js"></script>
</body>
</html>